.featured_main {
    margin: 24px 0;
    width: 90vw;
    border: 1px solid var(--text);
    padding: 24px;
    padding-bottom: 40px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    justify-content: space-between;
}

.featured_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-light);
}

.featured_bg img {
    width: 120%;
    height: 120%;
    object-fit: cover;
    filter: blur(12px) brightness(0.4);
    opacity: 0.5;

}

.featured_content {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.featured_thumbnail {
    height: 20vh;
    width: auto;
}

.featured_title {
    margin: 8px 0;
}

.featured_notes {
    font-size: 0.8rem;
    margin: 4px 0;
}

.featured_desc {
    font-size: 0.7rem;
}

.featured_button_container {
    display: flex;
}

.featured_button {
    background: none;
    border: 1px solid var(--text);
    color: var(--text);
    padding: 8px;
    cursor: pointer;
    width: 30vw;
    transition: 0.3s;
    margin-right:16px;
}

.featured_button:hover {
    background: var(--text);
    color: var(--bg);
}

.featured_carousel {
    width: 100%;
}

.featured_card {
    width: 35vw;
    height: 10vh;
    overflow: hidden;
}


.featured_card button {
    cursor: pointer;
    background: none;
    border: none;
}

.featured_card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.featured_carouselComponent {
    gap: 24px
}

@media screen and (min-width: 720px) {
    .featured_main {
        min-height: 60vh
    }
    .featured_card {
        width: 20vw;
    }

    .featured_content {
        min-height: 40vh;
    }

    .featured_desc {
        font-size: 0.8rem;
    }
    
}
@media screen and (min-width: 1024px) {
    .featured_card {
        width: 20vw;
        height: 30vh;
    }

    .featured_main {
        flex-direction: row;
        gap: 64px;
        align-items: center;
        min-height: 80vh;
        
    }

    .featured_content {
        min-height: 70vh;
    
    }

    .featured_carousel {
        width: 40vw;
    }

    .featured_thumbnail {
        height: 30vh;
    }

    .featured_desc {
        font-size: 1rem;
    }

    .featured_button {
        width: 15vw;
    }
}